################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RestaurantDP/.vs/RestaurantDP/v16/Server/sqlite3/db.lock
/RestaurantDP/.vs
RestaurantDP/RestaurantDP/bin/Debug/netcoreapp2.1/RestaurantDP.deps.json
RestaurantDP/RestaurantDP/bin/Debug/netcoreapp2.1/RestaurantDP.dll
RestaurantDP/RestaurantDP/bin/Debug/netcoreapp2.1/RestaurantDP.pdb
RestaurantDP/RestaurantDP/bin/Debug/netcoreapp2.1/RestaurantDP.runtimeconfig.dev.json
RestaurantDP/RestaurantDP/obj/Debug/netcoreapp2.1/RestaurantDP.assets.cache
RestaurantDP/RestaurantDP/obj/Debug/netcoreapp2.1/RestaurantDP.csproj.CoreCompileInputs.cache
RestaurantDP/RestaurantDP/obj/Debug/netcoreapp2.1/RestaurantDP.csproj.FileListAbsolute.txt
RestaurantDP/RestaurantDP/obj/Debug/netcoreapp2.1/RestaurantDP.csprojAssemblyReference.cache
RestaurantDP/RestaurantDP/obj/Debug/netcoreapp2.1/RestaurantDP.dll
RestaurantDP/RestaurantDP/obj/Debug/netcoreapp2.1/RestaurantDP.pdb
RestaurantDP/RestaurantDP/obj/project.assets.json
RestaurantDP/RestaurantDP/obj/RestaurantDP.csproj.nuget.cache
RestaurantDP/RestaurantDP/obj/RestaurantDP.csproj.nuget.dgspec.json
RestaurantDP/RestaurantDP/obj/RestaurantDP.csproj.nuget.g.props
